<h2>Contact List:</h2>
<input type="text" [(ngModel)]="firstName" name="firstName" placeholder="First Name">
<input type="text" [(ngModel)]="lastName" name="lastName" placeholder="Last Name">
<input type="text" [(ngModel)]="phone" name="phone" placeholder="Phone Number">
<input type="text" [(ngModel)]="mobile" name="mobile" placeholder="Mobile Number">
<input type="text" [(ngModel)]="email" name="email" placeholder="Email Address">
<input type="text" [(ngModel)]="address" name="address" placeholder="Address">
<input type="submit" value="Add Contact" (click)="addPost()">


<ul *ngFor="let post of contact | async">
  <li (click)="getPost(post.id)">
	<b>First Name: </b>{{ post.data.firstName }} <b>(<a href="#" (click)="deletePost(post.id)">Remove</a>)</b>
    <br>
    <b>Last Name: </b>{{ post.data.lastName }}<br>
	<b>Phone Number: </b>{{ post.data.phone }}<br>
	<b>Mobile Number: </b>{{ post.data.mobile }}<br>
	<b>Email Address: </b>{{ post.data.email }}<br>
	<b>Address: </b>{{ post.data.address }}
  </li>
</ul>

<h1>A specific post:</h1>

<p>{{ (post | async)?.firstName }}</p>
<p>{{ (post | async)?.lastName }}</p>
<p>{{ (post | async)?.phone }}</p>
<p>{{ (post | async)?.mobile }}</p>
<p>{{ (post | async)?.email }}</p>
<p>{{ (post | async)?.address }}</p>